<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Dashboard</title>
  </head>
  <body class="dashboard">
{{questions}}
    <div class="dashboard-wrapper">
      <div class="score">The score : {{ score }}</div>

      <div class="number-of-player">
      Number of players :
      {{ playersList.length }}</div>

      {% for player in playersList %}
        <div>
          <div class="player-name">Name : {{ player.player.name }}</div>
          <div class="player-score">Score : {{ player.player.score }}</div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
