h1 {
  text-align:center;
}

.red-button {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: red;
  cursor: pointer;
}

.red-button-text {
  position: absolute;
  color: #fffff;
  top: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 40px;
}
.dashboard {
  background-color: #333333;
}

.dashboard-wrapper {
  background-color: #666666;
}
